select {
    -webkit-appearance: none;
}

* {
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: white;
}
    
#Nav_items {
color: black;
display:flex;
justify-content: center;
align-items: center;
flex-grow: 100;
justify-content: space-around;
overflow: hidden;
}
#navbar1{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    
} 

@media only screen and (max-width: 700px) {
    #logo-anchor {
        flex-grow: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        }   
        
}
#banner-div {
    background-color: black;
    opacity: 0.5;
    flex-grow: 100;
    color: white;
    
}
#order-button {
    margin-top: 10px;
    width: 135px;
    background-color: #E9452C;
    border: none;
    
    
}
#button-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}
#main-container {
    background-color: white;
    padding:0;
}
#main-image {
    object-fit: cover;
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
}
#main-image-div{
    padding-right: 0;
}

#order-now {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#menu-title{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 20px;
    
}
#menu-category{
    background-color: white;
    display: flex;
    justify-content: center;
    margin:0px;
    border-color: white;
    border-style:solid;
    border-width: 1px;
    padding-top: 25px;
    padding-bottom: 25px;    
}
#hours-column {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}
#hours-table{
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hours-title{
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-row{
    max-width: 800px;
    margin:auto;
}
table, th, td {
    padding:5px;
}
footer{
    background-color: teal;
    color: white;
    margin-top: 100px;
}
#footer-links{
color: paleturquoise;
}
button{
    background-color: #E9452C;
    color: #E9452C;
}

  .tab-content {

    padding: 20px;
    
  }
  #tab-div {
      margin-top: 100px;
  }
  .tab-content h4 {
      color: black;
  }

  .select-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E9452C;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
#Select{
    border: none;
    color: white;
    background-color: #E9452C;
    
    
    
}
#custom-s{

    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 1.1rem;
}
#apply-form{
    margin-top:100px;
}
#form-input{
    margin-bottom:10px;
}
#form-button{
    margin-bottom:60px;
}
#menu-pills-tab{
    margin-top: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}
a:hover{
    color: #F5B038;
}
a {
    color:inherit
}
#footer-titles{
    color:#F5B038;
}
h2 {
    color:teal;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

 